.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;

    outline: none;
    border: 1px solid transparent;
}

.button:hover {
    cursor: pointer;
}

::-ms-reveal {
    filter: invert(100%);
}
