#nav-bar.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1;
}

#nav-bar.horizontal #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 40px;
}
