.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: -webkit-fill-available;

    /* Background/Blur */

    background: rgba(255, 255, 255, 0.02);
    /* Blur */

    backdrop-filter: blur(4px);
}

.navigation--menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    width: fit-content;
    height: fit-content;
    margin: 0;
}

.navigation--menu--item {
    list-style-type: none;
}

.navigation--menu-active, .navigation--menu-inactive {
    text-decoration-line: none;
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}

.navigation--menu-active {
    color: #FFD24C;
}

.navigation--menu-inactive {
    color: white;
}
