.plans--content--item {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 80px;
    gap: 20px;

    height: fit-content;
    width: 100%;

    /* Background/White */

    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;

    color: white;
}

.plans--content--item--details {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 20px;
}

.plans--content--item--details--title, .plans--content--item--details--title--gold {
    width: 55px;
    height: 30px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;
}

.plans--content--item--details--title--gold {
    color: #FFD24C;
}

.plans--content--item--details--price {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* White */

    color: #FFFFFF;
}

.plans--content--item--details--period {
    /* $110/per month */

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    /* Gray/65 */

    color: #A6A6A6;
}

.plans--content--item--feature, .plans--content--item--feature--gold, .plans--content--item--feature--purple {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;

    border-radius: 8px;
}

.plans--content--item--feature--purple {
    background: rgba(116, 105, 246, 0.1);
}

.plans--content--item--feature--gold {
    background: rgba(255, 210, 76, 0.05);
}
