.button.outline.light, .icon.button.outline.light {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    transition: all 1s ease;
}

.button.outline.light:enabled:hover, .icon.button.outline.light:enabled:hover {
    background-color: white;
    color: black;
}

.button.outline.light:disabled, .icon.button.outline.light:disabled {
    border: 1px solid var(--gray-65);
    color: var(--gray-65);
}

.icon.button.outline.light {
    padding: 10px;
}
