.contact-us #container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, 1fr);
    padding: 40px 20px;
    gap: 40px;
    z-index: 1;
}

.contact-us #container #find-us {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 20px;
    gap: 20px;

    height: min-content;

    background-color: var(--primary);
    border-radius: 12px;
}

.contact-us #container #find-us .pic {
    background-image: url("./../../../assets/Basílica_Catedral_Metropolitana_de_Lima_04 (1).jpg");
    height: calc(100% - 40px);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.contact-us #container #find-us div {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    padding: 20px;
    gap: 20px;
    height: min-content;
}

.contact-us #container #find-us div .find-us-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: black;
}

.contact-us #container #find-us div .description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
