#nav-var.vertical {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2, min-content) 1fr min-content;
    gap: 40px;

    justify-items: center;

    margin: 20px 0 20px 20px;
    padding: 40px;

    /* Background/White */

    background: rgba(255, 255, 255, 0.1);
    /* Gray/65 */

    border: 1px solid #A6A6A6;
    /* Blur */

    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 8px;

    z-index: 1;
}

