/* Dark theme{ foreground: white, background transparent, icon: white} */
.text-field.dark div {
    /* Background/White */
    background: rgba(255, 255, 255, 0.05);
    /* Blur */
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
}

.text-field.dark div span {
    color: white;
}

.text-field.dark div input {
    color: white;
}

