/* Dark theme{ foreground: white, background transparent, icon: white} */
.text-field.light {
    color: black;
}

.text-field.light div {
    /* Background/White */
    background-color: transparent;
    border: 1px solid var(--gray-65);
    border-radius: 8px;
}

.text-field.light span {
    color: black;
}

.text-field.light div input {
    color: black;
}

