#layout.horizontal {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content 1fr;
    height: 100dvh;
    gap: 20px;
}

#layout.horizontal::before {
    content: "";
    background-image: url("../assets/pawel-czerwinski-5QnkRk4-zcY-unsplash.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
